AddDefaultCharset UTF-8

DirectoryIndex index.html index.php

Options +FollowSymlinks
RemoveHandler .html .htm
AddType application/x-httpd-php .htm .html .phtml
AddHandler application/x-httpd-php .html

RewriteEngine On
RewriteRule ^.htaccess$ - [F]
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^api/(.+)$ api/$1.json [L]
